.col{
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  min-height: 50px;
}

h1{
  color: black;
  text-decoration: underline;
  text-align: center;
  font-family: 'Roboto', sans-serif;

}

.col.two{
  float: left;
  width: 50%;
  background-color: white;
  /*border: 1px solid black;*/
}

.clearfix:after{
  clear: both;
  display: block;
  content: "";

}

img{
  width: 250px;
  padding-top: 5px;
  height: auto;
  border-radius: 10px;
  margin: auto;
  border: 1px soild black;

}
.col.three{
  float:left;
  width: 50%;
  background-color: white;
  /*border: 1px solid black;*/
}

@media (max-width: 480px){
  .col.two, .col.three{width: 100%}
}

/*@media (min-width: 500px){*/
  /*.col.two, .col.three{width: 50%}*/
/*}*/
